<h1> Showing selected article</h1>

<p>
  Title: <%= @article.title %>
</p>

<p>
  Description: <%= @article.description %>
</p>


<td><%= link_to "Edit this article", edit_article_path(@article)%></td>
<td><%= link_to "Back to Article List", articles_path %></td>